examples/autoloopcurve.json
[{"id":"525e3c33.5e7df4","type":"curve","z":"1f1c6094.8345af","fexpression":".5*(sin(x*5)+1)","valuex":"count","outputtype":"float","name":"","topic":"","x":446.5,"y":349,"wires":[["218cb272.6eac1e"]]},{"id":"d162dbba.152638","type":"inject","z":"1f1c6094.8345af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":435.5,"y":146,"wires":[["fe5ea9bf.e01fa8"]]},{"id":"218cb272.6eac1e","type":"debug","z":"1f1c6094.8345af","name":"","active":true,"console":"false","complete":"true","x":415.5,"y":405,"wires":[]},{"id":"1006b7b7.bbda88","type":"counter","z":"1f1c6094.8345af","name":"","init":"0","step":"0.5","lower":"","upper":"","mode":"increment","outputs":"1","x":423.5,"y":292,"wires":[["525e3c33.5e7df4"]]},{"id":"fe5ea9bf.e01fa8","type":"looptimer","z":"1f1c6094.8345af","duration":"1","units":"Second","maxloops":"5","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":429.5,"y":219,"wires":[["1006b7b7.bbda88"],[]]}]